
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnnouncementLabel" translate="mypropApp.announcement.home.createOrEditLabel">Create or edit a Announcement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      <!--  <div class="form-group" ng-show="vm.announcement.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.announcement.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="control-label" translate="mypropApp.announcement.subject" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                    ng-model="vm.announcement.subject"
                    required />
            <div ng-show="editForm.subject.$invalid">
                <p class="help-block"
                    ng-show="editForm.subject.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label" translate="mypropApp.announcement.detail" for="field_detail">Detail</label>
            <input type="text" class="form-control" name="detail" id="field_detail"
                    ng-model="vm.announcement.detail"
                    ng-maxlength="4000" />
            <div ng-show="editForm.detail.$invalid">
                <p class="help-block"
                    ng-show="editForm.detail.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>-->
        <div class="form-group">
            <label for="field_sticky">
                <input ng-disabled="vm.announcement.sticky === null" type="checkbox"  id="field_sticky"
                       ng-model="vm.announcement.sticky"
                /><span translate="mypropApp.announcement.sticky">Sticky</span>
            </label>
        </div>

        <div text-angular ng-model="vm.announcement.detail"></div>
        <div class="form-group">
            <label class="control-label" translate="mypropApp.announcement.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.announcement.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mypropApp.announcement.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.announcement.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
