<div flex-xs flex-gt-xs="80" layout="column">
    <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="new ticket" style="position:fixed"
               ui-sref="announcement.new" has-any-authority="ROLE_ADMIN,ROLE_MANAGER">
        <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
    <h3 translate="mypropApp.announcement.title"></h3>
    <md-divider></md-divider>
    <md-card   md-theme-watch  ng-repeat="announcement in vm.announcements | pin">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{announcement.subject}}</span>
                <span class="md-subhead">{{announcement.startDate | date:'mediumDate'}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-primary"
                           ui-sref="announcement-detail({id:announcement.id})">
                    <md-icon class="material-icons">visibility</md-icon>
                    <span class="hidden-xs hidden-sm" translate="mypropApp.announcement.detail"></span>
                </md-button>
                <md-button class="md-warn"
                           ui-sref="announcement.delete({id:announcement.id})"
                           has-any-authority="ROLE_ADMIN,ROLE_MANAGER">
                    <md-icon class="material-icons">delete</md-icon>
                    <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                </md-button>
            </div>
            <div layout="row" layout-align="end center">
                <md-icon class="material-icons">favorite</md-icon>
            </div>
        </md-card-actions>
    </md-card>
    <md-card md-theme="default" md-theme-watch  ng-repeat="announcement in vm.announcements | unpin">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{announcement.subject}}</span>
                <span class="md-subhead">{{announcement.startDate | date:'mediumDate'}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-primary" ui-sref="announcement-detail({id:announcement.id})" >
                    <md-icon class="material-icons">visibility</md-icon>
                    <span class="hidden-xs hidden-sm" translate="mypropApp.announcement.detail"></span>
                </md-button>
                <md-button class="md-warn"
                           ui-sref="announcement.delete({id:announcement.id})"
                           has-any-authority="ROLE_ADMIN,ROLE_MANAGER">
                    <md-icon class="material-icons">delete</md-icon>
                    <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                </md-button>
            </div>
            <div layout="row" layout-align="end center">
                <!--<i class="material-icons">favorite</i>-->
            </div>
        </md-card-actions>
    </md-card>

</div>
