<div>
    <h2 translate="mypropApp.announcement.home.title">Announcements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="announcement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="mypropApp.announcement.home.createLabel">
                        Create new Announcement
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subject"><span translate="mypropApp.announcement.subject">Subject</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detail"><span translate="mypropApp.announcement.detail">Detail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="mypropApp.announcement.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="mypropApp.announcement.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sticky"><span translate="mypropApp.announcement.sticky">Sticky</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="announcement in vm.announcements track by announcement.id">
                    <td><a ui-sref="announcement-detail({id:announcement.id})">{{announcement.id}}</a></td>
                    <td>{{announcement.subject}}</td>
                    <td>{{announcement.detail}}</td>
                        <td>{{announcement.startDate | date:'mediumDate'}}</td>
                        <td>{{announcement.endDate | date:'mediumDate'}}</td>
                    <td>{{announcement.sticky}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="announcement-detail({id:announcement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="announcement.edit({id:announcement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="announcement.delete({id:announcement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
