
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMyAccountLabel" translate="mypropApp.myAccount.home.createOrEditLabel">Create or edit a My Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.myAccount.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.myAccount.id" readonly />
        </div>

        <div class="form-group">
            <label translate="mypropApp.myAccount.user" for="field_user">User</label>
            <input type="text" class="form-control" id="field_user" name="user" ng-model="vm.myAccount.user.login" readonly>
            </input>
        </div>

        <div class="form-group">
            <label class="control-label" translate="mypropApp.myAccount.name_surname" for="field_name_surname">Name Surname</label>
            <input type="text" class="form-control" name="name_surname" id="field_name_surname"
                    ng-model="vm.myAccount.name_surname"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name_surname.$invalid">
                <p class="help-block"
                    ng-show="editForm.name_surname.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name_surname.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mypropApp.myAccount.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="vm.myAccount.mobile"
                     />
        </div>

        <div class="form-group">
            <label translate="mypropApp.myAccount.unit" for="field_unit">Unit</label>
            <select class="form-control" id="field_unit" multiple name="unit" ng-model="vm.myAccount.units" ng-options="unit as unit.externalId for unit in vm.units track by unit.id"  required></select>
            <div ng-show="editForm.field_unit.$invalid">
                <p class="help-block"
                   ng-show="editForm.field_unit.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
