<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserCommentLabel" translate="mypropApp.userComment.home.createOrEditLabel">Create or edit a User Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div text-angular ng-model="vm.userComment.comment" aria-required="" required></div>
        <div class="form-group" hidden>
            <label translate="mypropApp.userComment.announcement" for="field_announcement">Announcement</label>
            <select class="form-control" id="field_announcement" name="announcement" ng-model="vm.userComment.announcement" ng-options="announcement as announcement.id for announcement in vm.announcements track by announcement.id">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group" hidden>
            <label translate="mypropApp.userComment.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userComment.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <div layout="row" layout-align="start center">
            <md-button  type="submit" class="md-primary" ng-disabled="editForm.$invalid || vm.isSaving">
                <md-icon class="material-icons">done</md-icon>
                <span class="hidden-xs hidden-sm" translate="entity.action.save"></span>
            </md-button>
            <md-button  data-dismiss="modal" ng-click="vm.clear()" class="md-default" >
                <md-icon class="material-icons">close</md-icon>
                <span class="hidden-xs hidden-sm" translate="entity.action.cancel"></span>
            </md-button>
        </div>
    </div>
</form>
