
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserCommentLabel" translate="mypropApp.userComment.home.createOrEditLabel">Create or edit a User Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userComment.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userComment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mypropApp.userComment.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.userComment.comment"
                    ng-maxlength="2000" />
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2000">
                    This field cannot be longer than 2000 characters.
                </p>
            </div>
        </div>

        <div class="form-group" hidden>
            <label translate="mypropApp.userComment.announcement" for="field_announcement">Announcement</label>
            <select class="form-control" id="field_announcement" name="announcement" ng-model="vm.userComment.announcement" ng-options="announcement as announcement.id for announcement in vm.announcements track by announcement.id">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group" hidden>
            <label translate="mypropApp.userComment.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userComment.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
