<style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
</style>
<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 3,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>
<div ng-cloak >
    <div layout="column" >
        <div flex style="min-height: 224px;min-left: 0;">
            <center>
                <h2 translate="home.title">Welcome, Java Hipster!</h2>
                <h4 translate="home.subtitle">This is your homepage</h4>
                <div class="alert alert-info"  translate-compile>
                    <a class="alert-link" ui-sref="announcement">ข่าวสารจากนิติบุคคลหมู่บ้านพฤกษ์ลดา-วงแหวนรัตนาธิเบศร์</a>
                </div>
                <div ng-switch="vm.isAuthenticated()">
                    <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                        You are logged in as user "{{vm.account.login}}".
                    </div>

                   <!-- <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>
                        If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                    </div>-->
                    <div class="alert alert-success" ng-switch-when="false" translate="global.messages.info.login" translate-compile>
                        <strong>Your user has been activated.</strong> Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.
                    </div>


                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register" translate-compile>
                        You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                    </div>
                </div>
            </center>

        </div>
        <div flex >
            <div id="owl-demo" class="owl-carousel">
                <div class="item"><img src="content/images/carousel/imodern-b.jpg" alt="Owl Image"></div>
                <div class="item"><img src="content/images/carousel/i-nova.jpg" alt="Owl Image"></div>
                <div class="item"><img src="content/images/carousel/flood1.jpg" alt="Owl Image"></div>
                <div class="item"><img src="content/images/carousel/flood2.jpg" alt="Owl Image"></div>
                <div class="item"><img src="content/images/carousel/flood3.jpg" alt="Owl Image"></div>
            </div>
        </div>
    </div>
</div>

